
@mixin flex-cen-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-center-pos {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MIXIN MEDIA QUERIES

@mixin respond ($breakpoint) {
  @if $breakpoint == tab {
    @media (min-width: 48em) { //min 768px
      @content
    }
  };
  @if $breakpoint == lap {
    @media (min-width: 64em) { //min 1024px
      @content
    }
  };
}