
// COLOURS


// **LIGHT**
.lightMode{
  --backgroundColor: #F4F7FD;
  --itemColor: #ffffff;
  //
  --btnSecondary: rgba(99,95,199, .10);
  --btnSecondaryHover: rgba(99,95,199, .25);
  --fontColor:#000112;
  --linesColor: #E4EBFA;
}

// **DARK**
.darkMode{
  --backgroundColor: #20212C;
  --itemColor: #2B2C37;
  //
  --btnSecondary: #ffff;
  --btnSecondaryHover: #ffff;
  --fontColor:#FFFFFF;
  --linesColor: #3E3F4E;
}

// NON-THEME-COLORS
$nonActiveFontColor: #828FA3;
$inputOutline: rgba(130,143,163,.25);
$colorPrimary: #635FC7;
$colorPrimaryShade: #A8A4FF;
$red: #EA5555;
$redHover: #FF9898;
$linesLight: #E4EBFA;
$darkGrey: #2B2C37;
$lightGrey: #F4F7FD;
$veryDarkGrey: #20212C;
$linesDark: #3E3F4E;
$black: #000112;
$white: #FFFFFF;
$shadedColor: rgba(43,44,55,13%);
$shadedColorTwo: rgba(43,44,55,8%);

// Font-family
$fontFamily: 'Plus Jakarta Sans', sans-serif;
$fontWeightBold: 700;
$fontWeightMedium: 500;