.select-dropdown {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: var(--backgroundColor);
  width: 100%;
  color: $nonActiveFontColor;
  padding: 8px 16px;
  border-radius: 8px;
  // display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  &__option {
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}

.active-status-dropdown{
  display: flex;
}