.view-task {
  @include absolute-center-pos;
  width: 95%;
  max-width: 480px;
  border-radius: 6px;
  background-color: var(--itemColor);
  padding: 24px 24px 32px;
  @include flex-cen-cen;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  display: none;
  &-desc-container {
    display: grid;
    gap: 24px;
    width: 100%
  }
  &-heading{
    @include flex-cen-cen;
    justify-content: space-between;
    &__icon{
      width: 15%;
      display: flex;
      justify-content: flex-end;
      &--icon{
        cursor: pointer;
      }
    }
  }
  &__title {
  }
  &__text {
    color: $nonActiveFontColor;
  }
  //
  &-subtasks {
    display: grid;
    gap: 16px;
    width: 100%;
    &-container {
      @include flex-cen-cen;
      width: 100%;
      flex-direction: column;
      gap: 8px;
    }
    &__status {
      font-weight: $fontWeightBold;
      font-size: 12px;
    }
  }
  //
  &-subtask {
    display: grid;
    grid-template-columns: 16px 1fr;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: var(--backgroundColor);
    padding: 13px 8px 13px 13px;
    border-radius: 4px;

    //
    &-checkbox {
      height: 16px;
      width: 16px;
      border-radius: 2px;
      // background-color: $colorPrimary;
      background-color: var(--itemColor);
      border: 1px solid rgba($nonActiveFontColor, .25);
      display: grid;
      place-items: center;
      &__icon {
      }
    }
    //
    &__text {
      font-size: 12px;
      font-weight: $fontWeightBold;
      // text-decoration: line-through;
    }
  }
  //
  &-overall-status {
    display: grid;
    gap: 8px;
    width: 100%;
    position: relative;
    
    &__title {
      font-size: 12px;
      font-weight: $fontWeightBold;
    }
    &__select {
      &:hover{
      cursor: pointer;
    }
    }
    &__text {
    }
    &__icon {
    }
  }
}

.view-task-active{
  display: flex;
}

.non-completed-task{
  background-color: $taskColor;
}

.checkbox-completed{
  background-color: $colorPrimary;
  border: none;
}
// .checkbox-not-completed{
//   background-color: var(--itemColor);
//   border: 1px solid rgba($nonActiveFontColor, .25);
// }