
.board{
  position: relative;
  background-color: var(--backgroundColor);
  width: 100%;
  min-height: calc(100vh - 64px);
  padding: 24px 16px;
  display: grid;
  row-gap: 15px;
  @include respond (tab){
    min-height: calc(100vh - 80px);
  }
  @include respond (lap){
    min-height: calc(100vh - 97px);
  }
  &-content{
    overflow: auto;
    gap: 24px;
    padding-bottom: 2rem;
    &::-webkit-scrollbar{
      width: 5px;
    }
    &::-webkit-scrollbar-thumb{
      background: $nonActiveFontColor; 
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track{
      box-shadow: inset 0 0 2px grey; 
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover{
      background: $colorPrimary;
    }
  }
  &-empty{
    text-align: center;
    display: grid;
    place-items: center;
    gap: 25px;
    &__heading{
      color: $nonActiveFontColor;
    }
    &__btn{
      
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.no-active-board{
  grid-template-rows: repeat(2, 1fr);
}

.empty-board-placement{
  grid-row: 1/-1;
}
