
.btn-lrg{
  width: 255px;
  height: 48px;
  font-family: $fontFamily;
  border-radius: 20px;
  border: none;
  font-weight: $fontWeightBold;
}

.btn-sml{
  width: 255px;
  height: 40px;
  font-family: $fontFamily;
  border-radius: 20px;
  border: none;
  font-weight: $fontWeightBold;
}

.btn-primary-color{
  color: $white;
  background-color: $colorPrimary;
  &:hover{
    background-color: $colorPrimaryShade;
  }
}

.btn-secondary-color{
  color: $colorPrimary;
  background-color: var(--btnSecondary);
  &:hover{
    background-color: var(--btnSecondaryHover);
  }
}

.btn-destructive-color{
  color: $white;
  background-color: $red;
  &:hover{
    background-color: $redHover;
  }
}

.new-col-btn{
  width: 174px;
  height: 48px;
  font-family: $fontFamily;
  border-radius: 24px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.del-edit-btn{
  border: none;
  background-color: transparent;
  font-family: $fontFamily;
}
