.input-style-basic {
  color: var(--fontColor);
  padding: 8px 16px;
  font-family: $fontFamily;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  border: 1px solid $inputOutline;
}

.field-set-remove-border{
  border: none;
}

.error-input-style{
  border: 1px solid $red;
}

.error-input-label{
  color: $red;
  position: absolute;
  top: 32px;
  right: 16px;
}

.error-input-label-2{
  color: $red;
  position: absolute;
  top: 9px;
  right: 48px;
}