.theme-toggle {
  width: 100%;
  @include flex-cen-cen;
  justify-content: space-evenly;
  background-color: var(--backgroundColor);
  padding: 14px;
  border-radius: 6px;
  &-switch{
    width: 50px;
    height: 20px;
    background-color: $colorPrimary;
    border-radius: 12px;
    position: relative;
    &:hover{
      cursor: pointer;
      background-color: $colorPrimaryShade;
    }
    &__ball{
      content: "";
      background-color: $white;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 80%;
      transition: .4s all;
      transform: translate(-50%, -50%);
    }
  }
}

.switch-light-mode-active{
  left: 20%;
  transition: .4s all;
}
